In [1]:
import pandas as pd
df = pd.read_csv("titanic.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [2]:
df.drop(["PassengerId","Name","SibSp","Ticket","Parch","Cabin","Embarked"],axis="columns",inplace=True)
df.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [3]:
target=df.Survived
inputs=df.drop("Survived",axis="columns")

In [4]:
dummies = pd.get_dummies(inputs.Sex).astype(int)
dummies.head(3)

   female  male
0       0     1
1       1     0
2       1     0

In [5]:
inputs=pd.concat([inputs,dummies],axis="columns")
inputs.head(3)

   Pclass     Sex   Age     Fare  female  male
0       3    male  22.0   7.2500       0     1
1       1  female  38.0  71.2833       1     0
2       3  female  26.0   7.9250       1     0

In [6]:
inputs.drop("Sex",axis='columns',inplace=True)

In [7]:
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [8]:
inputs.Age[:10]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [9]:
inputs.Age=inputs.Age.fillna(inputs.Age.mean())
inputs.head(6)

   Pclass        Age     Fare  female  male
0       3  22.000000   7.2500       0     1
1       1  38.000000  71.2833       1     0
2       3  26.000000   7.9250       1     0
3       1  35.000000  53.1000       1     0
4       3  35.000000   8.0500       0     1
5       3  29.699118   8.4583       0     1

In [10]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test= train_test_split(inputs,target,test_size=0.2)

In [11]:
len(x_train)

712

In [12]:
len(x_test)

179

In [13]:
len(inputs)

891

In [14]:
x_train

     Pclass        Age     Fare  female  male
576       2  34.000000  13.0000       1     0
262       1  52.000000  79.6500       0     1
538       3  29.699118  14.5000       0     1
248       1  37.000000  52.5542       0     1
289       3  22.000000   7.7500       1     0
..      ...        ...      ...     ...   ...
352       3  15.000000   7.2292       0     1
444       3  29.699118   8.1125       0     1
182       3   9.000000  31.3875       0     1
694       1  60.000000  26.5500       0     1
430       1  28.000000  26.5500       0     1

[712 rows x 5 columns]

In [15]:
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()

In [16]:
model.fit(x_train,y_train)

GaussianNB()

In [17]:
model.score(x_test,y_test)

0.8212290502793296

In [18]:
x_test

     Pclass        Age     Fare  female  male
124       1  54.000000  77.2875       0     1
762       3  20.000000   7.2292       0     1
351       1  29.699118  35.0000       0     1
53        2  29.000000  26.0000       1     0
327       2  36.000000  13.0000       1     0
..      ...        ...      ...     ...   ...
692       3  29.699118  56.4958       0     1
604       1  35.000000  26.5500       0     1
366       1  60.000000  75.2500       1     0
658       2  23.000000  13.0000       0     1
723       2  50.000000  13.0000       0     1

[179 rows x 5 columns]

In [19]:
y_test[:10]

124    0
762    1
351    0
53     1
327    1
329    1
764    0
599    1
140    0
104    0
Name: Survived, dtype: int64

In [20]:
model.predict(x_test[:10])

array([0, 0, 0, 1, 1, 1, 0, 0, 1, 0])

In [21]:
model.predict_proba(x_test[:10])

array([[0.69388954, 0.30611046],
       [0.98920419, 0.01079581],
       [0.91774681, 0.08225319],
       [0.06668091, 0.93331909],
       [0.0710814 , 0.9289186 ],
       [0.00749501, 0.99250499],
       [0.98813351, 0.01186649],
       [0.85371852, 0.14628148],
       [0.1409089 , 0.8590911 ],
       [0.99083487, 0.00916513]])